/* global reset */
/*  * selcets all the elements in the page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Maintains the original box width even if we enter pixels to add spaces to the edges */
}

body {
  background-color: rgb(255, 247, 201);
  font-family: Arial;
  font-size: 20px;
  padding: 50px;
}

h1 {
  font-size: 40px;
  padding-bottom: 25px;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

.first {
  color: red;
}

#your-name {
  background-color: yellow;
  border: 5px solid #444;
  width: 400px;
  padding: 25px;
  margin-top: 30px;
}

#course-image {
  width: 400px;
  height: 300px;
}

#your-name h2 {
  color: olivedrab;
}
